<!--<section class="section hero">-->
  <!--<div class="hero-inner">-->
    <!--{{search submit=false instant=settings.instant_search class='search search-full'}}-->
  <!--</div>-->
<!--</section>-->
<!--my own code-->


<div id="hero-banner" data-page="home">
    <div class="hero-container" data-alignment="left" data-font="dark" style="background-image:url({{settings.homepage_background_image}});">
        <div class="hero-content">
            <h1 class="white-text">Hay House help</h1>
            <h5 class="h6-heading white-text">Hi, how can we help?</h5>
            <div class="search-container">

                {{search submit=false instant=settings.instant_search class='search search-full'}}
            </div>
        </div>
    </div>
</div>

<!--end-->

<div class="container top-margin">

    <h3>Browse by Product</h3>

<div class="row justify-content-md-center">

            <div class="col-lg-4 col-md-4 col-sm-6 nugget">
                <div class="hoverNuggets">
                      <a href="https://hayhouse.zendesk.com/hc/en-us/sections/360006706713" class="small-nugget nugget-title"><img src="{{asset 'course.svg'}}" width="26"/><span style="margin-left: 10px">Online Courses</span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 nugget">
                <div class="hoverNuggets">
                      <a href="https://hayhouse.zendesk.com/hc/en-us/sections/360006706733" class="small-nugget nugget-title"><img src="{{asset 'audio.svg'}}" width="26"/><span style="margin-left: 10px">Audio Downloads</span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 nugget">
                <div class="hoverNuggets">
                      <a href="https://hayhouse.zendesk.com/hc/en-us/sections/360006706773" class="small-nugget nugget-title"><img src="{{asset 'event.svg'}}" width="26"/><span style="margin-left: 10px">Events</span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 nugget">
                <div class="hoverNuggets">
                      <a href="https://hayhouse.zendesk.com/hc/en-us/sections/360005084393" class="small-nugget nugget-title"><img src="{{asset 'membership.svg'}}" width="26"/><span style="margin-left: 10px">Memberships</span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 nugget">
                <div class="hoverNuggets">
                      <a href="https://hayhouse.zendesk.com/hc/en-us/sections/360006744014" class="small-nugget nugget-title"><img src="{{asset 'order.svg'}}" width="26"/><span style="margin-left: 10px">Your Orders</span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 nugget">
                <div class="hoverNuggets">
                      <a href="https://hayhouse.zendesk.com/hc/en-us/sections/360006706753" class="small-nugget nugget-title"><img src="{{asset 'app.svg'}}" width="26"/><span style="margin-left: 10px">Hay House Unlimited Audio App</span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 nugget">
                <div class="hoverNuggets">
                     <a href="https://hayhouse.zendesk.com/hc/en-us/sections/360006706793" class="small-nugget nugget-title"><img src="{{asset 'summit.svg'}}" width="26"/><span style="margin-left: 10px">Summits</span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 nugget">
                <div class="hoverNuggets">
                    <a href="https://hayhouse.zendesk.com/hc/en-us/sections/360006681294" class="small-nugget nugget-title"><img src="{{asset 'video.svg'}}" width="26"/><span style="margin-left: 10px">Video</span></a>
                </div>
            </div>
           <div class="col-lg-4 col-md-4 col-sm-6 nugget">
                <div class="hoverNuggets">
                      <a href="https://hayhouse.zendesk.com/hc/en-us/sections/360006865034" class="small-nugget nugget-title"><img src="{{asset 'podcast.svg'}}" width="26"/><span style="margin-left: 10px">Podcasts</span></a>
                   </div>
           </div>
            


</div>
    <div class="row justify-content-md-center">
    {{#each categories}}
            <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="cat-section hoverImages" data-link="{{url}}">
                      {{#is id 360002836253}}<img class="cat-img" src="{{asset 'account.svg'}}" width="64" style="background-color: #93bead;"/>{{/is}}
                      {{#is id 360002836273}}<img class="cat-img" src="{{asset 'tracking.svg'}}" width="64" style="background-color: #F9CCBD;"/>{{/is}}
                      {{#is id 203902688}}<img class="cat-img" src="{{asset 'general.svg'}}" width="64" style="background-color: #C0CDCE;"/>{{/is}}
                      {{#is id 360002831174}}<img class="cat-img" src="{{asset 'faq.svg'}}" width="64" style="background-color: #F3F0EE;"/>{{/is}}
                      <a href="#">{{name}}</a>
                  </div>
          </div>
    {{/each}}



  </div>

</div>

<div class="container top-margin">
    <h3>Browse common questions</h3>
    <hr>
    <div class="row">
                        <div class="col-sm-12">

                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-account" role="tab" aria-controls="pills-account" aria-selected="true"> <i class="fas fa-credit-card"></i> Account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-dataprivacy" role="tab" aria-controls="pills-dataprivacy" aria-selected="false"><i class="fas fa-shield-alt"></i> Data Privacy & Spam</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-billingpurchases" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="fas fa-shopping-cart"></i> Billing & Purchases</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false"><i class="fas fa-phone-alt"></i> Contact Us</a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-manuscript" role="tab" aria-controls="pills-contact" aria-selected="false"><i class="fas fa-book-open"></i> Manucript Guidelines</a>
                            </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-account" role="tabpanel" aria-labelledby="pills-account">
                                <div class="row">
                                    <div class="col-sm-6 top-padding-10">
                                    <div class="card">
                                        <div class="card-body">
                                                <h5 class="card-title"><i class="fas fa-tags"></i> Plans & Pricing</h5>
                                                <ul>
                                                    <li><a href="https://hayhouse.zendesk.com/hc/en-us/articles/115004831768-Change-Card-for-Auto-Renewal">Change Card for Auto-Renewal</a> </li>
                                                    <li><a href="https://hayhouse.zendesk.com/hc/en-us/articles/115005521548-How-Do-I-Apply-A-Discount-">How Do I Apply a Discount?</a> </li>
                                                </ul>
                                        </div>
                                    </div>
                                </div>
                                    <div class="col-sm-6 top-padding-10">
                                    <div class="card">
                                        <div class="card-body">
                                                <h5 class="card-title"><i class="fas fa-cogs"></i> Account Changes</h5>
                                                <ul>
                                                    <li><a href="https://hayhouse.zendesk.com/hc/en-us/articles/227547267-How-Do-I-Update-My-Account-s-Password-">How Do I Update My Account's Password?</a> </li>
                                                    <li><a href="https://hayhouse.zendesk.com/hc/en-us/articles/360026786513-How-Do-I-Reset-My-Account-Password-">How Do I Reset My Account Password?</a> </li>
                                                    <li><a href="https://hayhouse.zendesk.com/hc/en-us/articles/227181428-How-Do-I-Update-My-E-Mail-Address-">How Do I Update My E-Mail Address?</a> </li>

                                                </ul>
                                        </div>
                                    </div>
                                </div>
                                    <div class="col-sm-6 top-padding-10">
                                    <div class="card">
                                        <div class="card-body">
                                                <h5 class="card-title"><i class="fas fa-envelope"></i> Email Preferences</h5>
                                                <ul>
                                                    <li><a href="https://hayhouse.zendesk.com/hc/en-us/articles/227532507-How-Do-I-Manage-My-Newsletter-Subscriptions-">How Do I Manage My Newsletter Subscription?</a> </li>

                                                </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="tab-pane fade" id="pills-dataprivacy" role="tabpanel" aria-labelledby="pills-dataprivacy">
                                 <div class="row">
                                    <div class="col-sm-6 top-padding-10">
                                        <div class="card">
                                            <div class="card-body">
                                           <h5 class="card-title"><i class="fas fa-shield-alt"></i> Data Privacy & Email Preference</h5>
                                                <ul>
                                                    <li><a href="https://hayhouse.zendesk.com/hc/en-us/articles/360006371473-GDPR-General-Information">GDPR General Information</a> </li>
                                                    <li><a href="https://hayhouse.zendesk.com/hc/en-us/articles/360034044653-How-Do-I-Request-To-Have-My-Data-Removed-">How Do I Request To Have My Data Removed?</a> </li>
                                                    <li><a href="https://hayhouse.zendesk.com/hc/en-us/articles/115004749147-Privacy-Policy">Hay House Privacy Policy</a> </li>
                                                    <li><a href="https://hayhouse.zendesk.com/hc/en-us/articles/227532507-How-Do-I-Manage-My-Newsletter-Subscriptions-">How Do I Manage My Newsletter Subscriptions?</a> </li>

                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-billingpurchases" role="tabpanel" aria-labelledby="pills-billingpurchases">
                             <div class="row">
                                <div class="col-sm-6 top-padding-10">
                                    <div class="card">
                                        <div class="card-body">
                                                <h5 class="card-title"><i class="fas fa-credit-card"></i> Billing</h5>
                                                <ul>
                                                    <li><a href="https://hayhouse.zendesk.com/hc/en-us/articles/227168968-How-Do-I-Manage-My-Address-Book-">How Do I Manage My Address Book?</a> </li>
                                                    <li><a href="https://hayhouse.zendesk.com/hc/en-us/articles/360033764854-How-Do-I-Cancel-A-Subscription-Through-The-iTunes-Store-">How Do I Cancel a Subscription Through the iTunes Store?</a> </li>
                                                    <li><a href="https://hayhouse.zendesk.com/hc/en-us/articles/360028886973-How-Do-I-Update-My-Account-s-Saved-Credit-Card-">How Do I Update My Account's Saved Credit Card?</a> </li>

                                                </ul>
                                        </div>
                                    </div>
                                </div>

                                    <div class="col-sm-6 top-padding-10">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title"><i class="fas fa-shopping-cart"></i> Purchases</h5>
                                                <ul>
                                                    <li><a href="https://hayhouse.zendesk.com/hc/en-us/articles/360034283473-Where-Can-I-View-My-Order-History-">Where Can I View My Order History?</a> </li>
                                                    <li><a href="https://hayhouse.zendesk.com/hc/en-us/articles/227597428-What-Is-Your-Return-Policy-">What Is Your Return Policy?</a> </li>
                                                    <li><a href="https://hayhouse.zendesk.com/hc/en-us/articles/115004831768-Change-Card-for-Auto-Renewal">Change Card for Auto-Renewal</a> </li>
                                                    <li><a href="https://hayhouse.zendesk.com/hc/en-us/articles/227548927-Can-I-Cancel-My-Order-">Can I Cancel My Order?</a> </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>



                            </div>

                            </div>
                            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                
                                <div class="col-sm-6 top-padding-10">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title"><i class="fas fa-phone-alt"></i> Contact Us</h5>
                                                <ul>
                                                    <li><a href="https://hayhouse.zendesk.com/hc/en-us/articles/360026664574-Contact-Hay-House-US">Contact Hay House US</a> </li>
                                                    <li><a href="https://hayhouse.zendesk.com/hc/en-us/articles/360026665094-Contact-Hay-House-UK">Contact Hay House UK</a> </li>
                                                    <li><a href="https://hayhouse.zendesk.com/hc/en-us/articles/360026831673-Contact-Hay-House-Australia">Contact Hay House Australia</a> </li>
                                                    <li><a href="https://hayhouse.zendesk.com/hc/en-us/articles/360026832173-Contact-Hay-House-India">Contact Hay House India</a> </li>

                                                </ul>

                                            </div>
                                        </div>
                                    </div>

                            </div>
                             
                             <div class="tab-pane fade" id="pills-manuscript" role="tabpanel" aria-labelledby="pills-manuscript">
                                
                                <div class="col-sm-6 top-padding-10">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title"><i class="fas fa-book-open"></i> Manucript Guidelines</h5>
                                                <ul>
                                                    <li><a href="https://hayhouse.zendesk.com/hc/en-us/articles/227066427-Manuscript-Submission-Guidelines">Manuscript Submission Guidelines</a> </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>

                            </div>
                            </div>
                        </div>
        </div>


    </div>
</div>
<div id="demo-banner" data-page="home">
    <div id="demo-banner" class="container">
        <div class="demo-block" id="chat-block">
            <div class="container">
            <h4 class="title">Didn't find the answer? Live Chat with us</h4>
           <a href="javascript:$zopim.livechat.window.show();"><button class="btn btn-secondary btn-orange">Live Chat</button></a>
        </div>
        </div>
    </div>
</div>

  <!--{{#if help_center.community_enabled}}-->
    <!--<section class="section home-section community">-->
      <!--<h2>{{t 'community'}}</h2>-->
      <!--{{#link 'community' class='community-link'}}-->
        <!--{{t 'join_conversation'}}-->
      <!--{{/link}}-->

      <!--<div class="community-image"></div>-->
    <!--</section>-->
  <!--{{/if}}-->

  <!--<section class="section home-section activity">-->
    <!--{{#if settings.show_recent_activity}}-->
      <!--{{recent_activity}}-->
    <!--{{/if}}-->
  <!--</section>-->
</div>
